.App {
  font-family: "Muli", sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: #e24e42;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 500px;
  margin: 0 auto;
}

#main-img {
  width: 100%;
}

span {
  font-size: 11px;
  text-align: right;
}

.black-background {
  color: #fe7f9c;
  background-color: #000;
  font-size: 14px;
  font-weight: bold;
  max-width: 68%;
  margin: 0 auto;
  text-align: center;
}

.svgspin {
  text-align: center;
  animation: spin 3s linear infinite;
  display: block;
  height: auto;
  margin: 0 5px 5px 0;
  width: 80px;
  position: relative;
  margin: 0 auto 20px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 515px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-contianer div {
    max-width: 300px;
  }
}
